* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*header*/
header {
  width: 100%;
  padding: 18px 0;
  position: fixed;
  z-index: 20;
  transition: 0.32s ease-in-out;
}
.header {
  background-color: #151515;
  padding: 0px 0;
}
.head {
  width: 70%;
  height: 80px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #fff;
  cursor: pointer;
}
.nav {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 300px;
}
.nav li {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.my_git {
  color: white;
}

/*banner*/
.banner {
  width: 100%;
  padding: 150px 0 50px 0;
  background-image: url("./img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.box {
  color: #fff;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tagline {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner_img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
/*skills*/
.skills_wrap {
  border: 1px solid black;
  border-radius: 64px;
  background-color: #151515;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
  color: #fff;
}
.skills_wrap h1 {
  text-align: center;
  margin-bottom: 20px;
}
.skills {
  width: 100%;
  height: 60%;
  margin-top: 0px;
}
.skill_list {
  width: 90%;
  display: flex;
  align-items: center;
}
.skill_name {
  width: 100px;
  text-align: center;
  padding: 0px 5px;
  height: 23px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border-radius: 8px;
}
.skill_list p {
  font-weight: bold;
  margin: 5px 10px;
}

.css-3xbxqa > :not(style) + :not(style) {
  /*페이지 배포할때 와 localhost 에서 볼때 className 다름*/
  margin: 0px !important;
}
.css-3xbxqa {
  /*페이지 배포할때 와 localhost 에서 볼때 className 다름*/
  align-items: center !important;
}
/*slick*/
.slick-next {
  right: 0px !important;
}
.slick-prev {
  left: 0px !important;
}
.slick-prev,
.slick-next {
  transform: translate(0, 100%) !important;
  margin: 0 10px !important;
  z-index: 5;
}

/*project*/
.project {
  background-color: #151515;
  padding: 20px 0;
}
.project_wrap {
  width: 100%;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_title {
  color: white;
  text-align: center;
}
.project_list {
  width: 60%;
  height: 600px;
  border: 1px solid white;
  margin: 0 20px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  box-shadow: 3px 3px 4px 2px rgba(181, 181, 179, 0.673);
}
.project_img {
  width: 98%;
  height: 600px;
}
.project_information {
  color: black;
  width: 40%;
  height: 500px;
  margin: 0 20px;
  box-shadow: 3px 3px 4px 2px rgba(181, 181, 179, 0.673);
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.project_information h1 {
  text-align: center;
  margin: 10px 0;
}
.project_information div {
  display: flex;
  height: 490px;
  flex-flow: column;
  margin: 10px 0;
  justify-content: space-between;
}
.project_information div p {
  margin: 0 10px;
}
.project_information div p span {
  font-weight: 700;
}
.project_link_icon {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}
.project_link_icon svg {
  margin: 10px 50px;
  cursor: pointer;
}
.project_nav {
  color: black;
}
.project_nav:hover {
  color: #b3d4fc;
}

/*About*/
.about {
  padding: 40px 0;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}
.about h1 {
  margin: 10px 0;
  text-align: center;
  color: white;
}
.about_wrap {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.about_wrap img {
  width: 600px;
  height: 300px;
}
.about-list {
  display: flex;
  width: 60%;
  height: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}
.about-list li {
  width: 30%;
  display: flex;
  align-items: center;
}
.about-list li div {
  margin: 0 10px;
}

/*top btn */
.topBtn {
  position: fixed;
  opacity: 0;
  bottom: 40px;
  right: 40px;
  z-index: -10;
  width: 50px;
  height: 50px;
  background: url("./img/top.png") no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.topBtn.active {
  z-index: 10;
  opacity: 1;
}
